@page
@model DMRServices.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}


<div class="text-center">
    <h1 align="center">DMR Services</h1>
</div>
<style>
   .indented {
        padding-left: 200pt;
        padding-right: 200pt;
    }
</style>
<html>
<body>
    <center><img src="http://cmrconsulting.ca/wp-content/uploads/2018/09/calgary.jpg" height="600" width="100%"></center>
    <br />
    <p align="justify" style="font-size:23px;">
        At DMR Services, we don’t believe that one-size fits all with our clients. We passionately work closely with clients and thrive on
        their success. We look at challenges as opportunities to develop customized and innovative approaches, designed to consider the
        big picture and leverage opportunities. We are dedicated to taking a disciplined and professional approach, being responsible
        and accountable in every project we undertake to further enhance the reputation of your organization
    </p>
    <center>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReFlISg-Wz42rYzezcukSHHsNpKL0ZGyXEXEoRV8rSGfHkwFRz7g" height="200" width="850">
    </center>
    <br />
    <img src="https://media.licdn.com/dms/image/C5603AQH3aOsTix9Gaw/profile-displayphoto-shrink_200_200/0?e=1576108800&v=beta&t=6xh-oL7eroPyYYsvvNhD1g7-383oEkkMMjSGRg_KZN4" height="200" width="200" align="left">
    <p class="indented" style="font-size:25px;"><strong>Medha Suhas Kulkarni</strong> </p>
    <p class="indented" style="font-size:23px;"><i>President</i></p>
    <p align="justify" class="indented" style="font-size:18px;">
        Since 2018 when she established DMR Consulting Inc., Medha has continued to demonstrate her strong strategic, analytical and professional
        abilities. She is a team leader who is energized by collaboration, a creative and innovative problem solver and is dedicated to providing
        clients with tangible results. Medha has successfully counselled clients across various sectors in the areas of strategic planning,
        corporate governance, communications, issues management and stakeholder and Aboriginal engagement.
    </p>
    <p align="justify" class="indented" style="font-size:18px;">
        Medha holds a
        Public Relations and Communications Management Graduate Certificate from University of Cincinnati, Geology Certificate from SAIT
        and has extensive training in Stakeholder Engagement, Crisis Communication, Corporate Social Responsibility, Media, Leadership and
        Facilitation. She is an active member of the Canadian Public Relations Society and the International Association for Public Participation.
    </p>
    <img src="https://media.licdn.com/dms/image/C5103AQHxd26FGHcLXQ/profile-displayphoto-shrink_200_200/0?e=1576108800&v=beta&t=OG7Pf-xcp5sK2eBmgi52smf3IsJaGzar3EeOhcaPx7Q" height="200" width="200" align="right">
    <p align="right" class="indented" style="font-size:25px;"><strong>Raghuveer Kajjam</strong> </p>
    <p align="right" class="indented" style="font-size:25px;"><i>Strategic Advisor</i></p>
    <p align="justify" class="indented" style="font-size:18px;">
        After working in an International energy company, where he had a long management career, Raghuveer began consulting for several
        organizations. Some of his client work includes Exxon, BHP Billiton, AESO, Enbridge and EnCana. Raghuveer sits on several boards,
        including Director of Suncor Energy and Oilstone Energy, the Calgary Stampede Foundation, etc. and is active member of several
        charitable organizations. He is also part owner of Tenax Inc. based in Calgary and part owner of Oilstone Energy based in Houston.
    </p>
    <p align="justify" class="indented" style="font-size:18px;">
        Raghuveer is skilled at building and directing strong teams resulting in project success. He provides strategic counsel on project
        cost, structure, land management, environmental management, socio-economics and overall project management, including civil construction
        and develops and implements strategies and tactics for low costs and high productivity. He has a strong reputation and history
        of successful project execution.
    </p>
    <img src="https://media.licdn.com/dms/image/C5103AQHvgqxLcntxog/profile-displayphoto-shrink_200_200/0?e=1576108800&v=beta&t=dVV5gui6k3e_cEY-bfO6DmqM0WFVRj-3mOWKzvlp0ag" height="200" width="200" align="left">
    <p class="indented" style="font-size:25px;"><strong>Dikshita Barman</strong> </p>
    <p class="indented" style="font-size:25px;"><i>Community Engagement</i></p>
    <p align="justify" class="indented" style="font-size:18px;">
        Dikshita is a bilingual international development consultant with ten years of experience in research and project design, consultation,
        monitoring and evaluation, and curriculum design and teaching. She has in-depth knowledge in sustainable community development,
        education, and poverty alleviation strategies. To date she has worked on developing, implementing, monitoring and evaluating
        initiatives on low-cost private schools, orphans & vulnerable children, youth and gender engagement,
    </p>
    <p align="justify" class="indented" style="font-size:18px;">
        When not working, Dikshita loves running, tennis, NFL Sundays, travel or entertaining friends. She currently sits on the board of
        The Fig Tree Foundation, a Calgary-based group dedicated to helping disadvantaged populations around the world by fostering
        collaboration between, and raising funds for, registered international development organizations to support their work in catalyzing
        great development.
    </p>

</body>
</html>
