@page
@model DMRServices.Pages.CaseCollectionModel
@{
    ViewData["Title"] = "CaseCollection";
}

<h1>CaseCollection</h1>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Case Type</th>
            <th>Created Date</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cs in Model.Cases)
        {
            <tr>
                <td>@cs.Type</td>
                <td>@cs.CreatedDate</td>
                <td>@cs.Priority</td>
                <td>@cs.Status</td>
                <td>
                    @if (cs.Remarks == "In Progress")
                    {
                        <span class="badge badge-pill badge-success">In Progress</span>
                    }
                    else if (cs.Remarks == "Case Closed in Time")
                    {
                        <span class="badge badge-pill badge-primary">Case Closed in Time</span>
                    }
                    else if (cs.Remarks == "Case Closed in Buffer Time")
                    {
                        <span class="badge badge-pill badge-danger">Case Closed in Buffer Time</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-primary">Case Closure breached</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>