@page
@model DMRServices.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}



<style>
    .indented {
        margin-left: 3.5em;
        padding-top: 15pt;
        padding-bottom: 20pt;
        font-size:20px;
    }
</style>

<style>
    body {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxeXisMDce17e6-GHoWcLzCSPrjJQZ-B8qp4nyvXtKybFsj9ulZQ');
        background-repeat: no-repeat;
        background-size: 100% 93%;
    }
</style>
<h1 style="color:white;" class="text-left">Have an Issue?</h1>
<br />
<br />
<br />

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5dI-d3mFNmiot-v-o6VytTIdHc7GT4gLMCof30KnwSTegf7gYvQ" height="50" width="50" align="left" />
<p style="color:white;" class="indented">513-560-7889</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaOMdQQzGvK1KSgOejb4iusVImlpZxonkN-XzW8x3EHgCM5WGIhA" height="40" width="50" align="left">
<p  style="color:white;"class="indented">info@dmrservices.ca</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEdMg0lGZ00nbkS1P9UAO-E1c1yqY-hM_3F8MBhLcJklUdr4YvVw" height="50" width="40" align="left">
<p style="color:white;" class="indented">513-560-7807</p>




