@page
@model DMRServices.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<style>
    body{
        background-color: #f2f2f2;
    }
</style>

<h1 style="font-family:Times New Roman;" align="center">You need some Help in working with the Apllication?</h1>
<h2 style="font-family:Times New Roman;" align="center">Here are few Tips. Go Ahead!</h2>
<br />

<div class="accordion" id="accordionDisplay">
    <div class="card">
        <div class="card-header" id="help1">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <h4>How to search a Customer and view his/her Profile?</h4>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionDisplay">
            <div class="card-body">
                <div class="card card border-secondary mb-3">
                    <div class="card-body  text-secondary">
                        <h5>Follow these Steps.</h5>
                        <center>
                            <p style="font-size:20px;"><strong>1. Go to Home Page and click on <i>Search Customer</i> Tab</strong></p>
                            <img src="https://raghu2804-dev-ed--c.ap5.content.force.com/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Png&versionId=0687F00000geg1H&operationContext=CHATTER&contentId=05T7F0000230M1d" style="width:80%;height:80%"/>
                            &nbsp;
                            <p style="font-size:20px;"><strong>2. Enter the Customer Last Name in the input box</strong></p>
                            <img src="https://raghu2804-dev-ed--c.ap5.content.force.com/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Png&versionId=0687F00000geg1R&operationContext=CHATTER&contentId=05T7F0000230M1s" style="width:80%;height:80%"/>
                            &nbsp;
                            <p style="font-size:20px;"><strong>3. You will find a list of Customers with provided Last Name and for more information about the customer, click on '<i>More Information</i>' link</strong></p>
                            <img src="https://raghu2804-dev-ed--c.ap5.content.force.com/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Png&versionId=0687F00000geg1W&operationContext=CHATTER&contentId=05T7F0000230M1x" style="width:80%;height:80%"/>
                            &nbsp;
                            <p style="font-size:20px;"><strong>4. Under Customer Details tab you will find information of Customer</strong></p>
                            <img src="https://raghu2804-dev-ed--c.ap5.content.force.com/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Png&versionId=0687F00000geg1b&operationContext=CHATTER&contentId=05T7F0000230M22" style="width:80%;height:80%"/>
                            &nbsp;
                            <p style="font-size:20px;"><strong>5. Under Cases tab you will find information of Cases logged by the Customer</strong></p>
                            <img src="https://raghu2804-dev-ed--c.ap5.content.force.com/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Png&versionId=0687F00000geg1g&operationContext=CHATTER&contentId=05T7F0000230M27" style="width:80%;height:80%"/>
                            &nbsp;
                            <p style="font-size:20px;"><strong>5. Under Orders tab you will find information of Orders from the Customer</strong></p>
                            <img src="https://raghu2804-dev-ed--c.ap5.content.force.com/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Png&versionId=0687F00000geg1l&operationContext=CHATTER&contentId=05T7F0000230M2C" style="width:80%;height:80%"/>
                        </center>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="help1">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h4>How to create a Case?</h4>
                </button>
            </h5>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionDisplay">
            <div class="card-body">
                <div class="card card border-secondary mb-3">
                    <div class="card-body  text-secondary">
                        <h5>Follow these Steps.</h5>
                        <center>
                            <p style="font-size:20px;"><strong>1. Go to Home Page and click on <i>Create Case</i> Tab</strong></p>
                            <img src="https://raghu2804-dev-ed--c.ap5.content.force.com/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Png&versionId=0687F00000geg1H&operationContext=CHATTER&contentId=05T7F0000230M1d" style="width:80%;height:80%"/>
                            &nbsp;
                            <p style="font-size:20px;"><strong>2. Provide the Case Details in displayed form and click on '<i>Create</i>'</strong></p>
                            <img src="https://raghu2804-dev-ed--c.ap5.content.force.com/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Png&versionId=0687F00000geg1q&operationContext=CHATTER&contentId=05T7F0000230M2H" style="width:80%;height:80%"/>
                        </center>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>





