@page
@model CoreWiki.Pages.AccentureModel
@{
    ViewData["Title"] = "Accenture";
}

<h1>Accenture</h1>
<a href='https://en.wikipedia.org/wiki/Accenture'>Accenture</a>
<hr />
<p>From Wikipedia, the free encyclopedia</p>
<style>
    .div1 {
        background-color: lightgrey;
        float: right;
        border: 1px solid black;
        padding: 3px;
    }
</style>
<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Accenture.svg/200px-Accenture.svg.png' alt='Accenture plc' style="float:right;">
<p>
    <strong>Accenture plc</strong> (stylised as <strong>accenture</strong>) is a multinational professional services 
    company that provides services in strategy, consulting, digital, technology and operations. A Fortune Global 500 
    company,[5] it has been incorporated in Dublin, Ireland, since 1 September 2009. In 2018, the company reported net
    revenues of $39.6 billion, with more than 459,000 employees[3] serving clients in more than 200 cities in 120 
    countries.[6] In 2015, the company had about 150,000 employees in India,[7] about 48,000 in the US,[8] and about
    50,000 in the Philippines.[9] Accenture's current clients include 92 of the Fortune Global 100 and more than 
    three-quarters of the Fortune Global 500.[10]
<p>
    On July 11, 2019, Accenture appointed Julie Sweet as their new Chief Executive Officer. She will accept her 
    office on September 1, 2019. [11] Julie Sweet's history in law with diversity is showing to be an important 
    aspect of direction for the company in addition to the focus on transformative technologies yet to be scaled
    up like Artificial Intelligence, Blockchain, and 5G.[12]
</p>
<h2>History   [ <a href=''><small style="color:blue;">edit</small></a> ]</h2>
<hr />
<h3>Formation and early years   [ <a href=''><small style="color:blue;">edit</small></a> ]</h3>
<p>
    Accenture began as the business and technology consulting division of accounting firm Arthur Andersen[13] in 
    the early 1950s when it conducted a feasibility study for General Electric to install a computer at Appliance
    Park in Louisville, Kentucky,[14] which led to GE's installation of a UNIVAC I computer and printer,[15] believed 
    to be the first commercial use of a computer in the U.S.[16] Joseph Glickauf, an early pioneer of computer 
    consulting, held a position as head of Arthur Andersen's administrative services division.[14]
</p>
<h3>Split from Arthur Andersen   [ <a href=''><small style="color:blue;">edit</small></a> ]</h3>
<p>
    In 1989, Arthur Andersen and Andersen Consulting became separate units of Andersen Worldwide Société Coopérative 
    (AWSC). Throughout the 1990s, there was increasing tension between Andersen Consulting and Arthur Andersen. 
    Andersen Consulting was paying Arthur Andersen up to 15% of its profits each year (a provision of the 1989 split 
    was that the more profitable unit – whether AA or AC – pay the other the 15 percent), while at the same time Arthur 
    Andersen was competing with Andersen Consulting through its own newly established business consulting service line
    called Arthur Andersen Business Consulting (AABC). This dispute came to a head in 1998 when Andersen Consulting put 
    the 15% transfer payment for that year and future years into escrow and issued a claim for breach of contract 
    against AWSC and Arthur Andersen. In August 2000, as a result of the conclusion of arbitration with the 
    International Chamber of Commerce, Andersen Consulting broke all contractual ties with AWSC and Arthur Andersen.
    As part of the arbitration settlement, Andersen Consulting paid the sum held in escrow (then $1.2 billion) to 
    Arthur Andersen, and was required to change its name, resulting in the entity being renamed Accenture.[17]
</p>
<h3>Emergence of Accenture   [ <a href=''><small style="color:blue;">edit</small></a> ]</h3>
<p>
    On 1 January 2001, Andersen Consulting adopted its current name, "Accenture". The word "Accenture" is derived 
    from "Accent on the future". The name "Accenture" was submitted by Kim Petersen, a Danish employee from the 
    company's Oslo, Norway office, as a result of an internal competition. Andersen felt that the name should represent
    its will to be a global consulting leader and high performer, and also intended that the name should not be 
    offensive in any country in which Accenture operates.[18]
</p>
<p>
    On 19 July 2001, Accenture's initial public offering (IPO) was priced at $14.50 per share, and the shares began
    trading on the New York Stock Exchange (NYSE); Goldman Sachs and Morgan Stanley served as its lead underwriters. 
    Accenture stock closed the day at $15.17, with the day's high at $15.25. On the first day of the IPO, Accenture
    raised nearly $1.7 billion.[19]
</p>
<h3>2000s: Bermuda headquarters   [ <a href=''><small style="color:blue;">edit</small></a> ]</h3>
<p>
    In October 2002, the Congressional General Accounting Office (GAO) identified Accenture as one of four publicly 
    traded federal contractors that were incorporated in a tax haven.[20] The other three, unlike Accenture, were 
    incorporated in the United States before they re-incorporated in a tax haven, thereby lowering their US taxes. 
    Critics, most notably former CNN journalist Lou Dobbs,[21] have reported Accenture's decision to incorporate in
    Bermuda as a US tax avoidance ploy, because they viewed Accenture as having been a US-based company.[22] The 
    GAO itself did not characterize Accenture as having been a US-based company; it stated that "prior to incorporating
    in Bermuda, Accenture was operating as a series of related partnerships and corporations under the control of its
    partners through the mechanism of contracts with a Swiss coordinating entity."[23]
</p>
<p>
    Accenture engaged in an IT overhaul project for the National Health Service (NHS) in 2003, making headlines when
    it withdrew from the contract in 2006 over disputes related to delays and cost overruns.[24] The government of 
    the United Kingdom ultimately abandoned the project five years later for the same reasons.[25]
</p>
<h3>2010s: Ireland headquarters and recent history   [ <a href=''><small style="color:blue;">edit</small></a> ]</h3>
<p>
    Accenture announced on 26 May 2009 that its board of directors unanimously approved changing the company's place of
    incorporation from Bermuda to Ireland and would become Accenture plc.[26]
</p>
<p>
    In 2012 it was revealed Accenture was paying only 3.5% in tax in the United Kingdom, compared to the average rate 
    of 24%.[27]
</p>
<p>
    Accenture was chosen to replace CGI Group as the lead contractor for HealthCare.gov in January 2014.[28] In December
    2014, Accenture won a $563 million contract to provide ongoing maintenance, software development and technology 
    support for HealthCare.gov through 2019.[29]
</p>
<p>
    In July 2015, the United States Department of Defense awarded a major Electronic Health Records contract to Cerner,
    Leidos and Accenture. The contract valued $4.33 billion will serve 55 hospitals and 600 clinics. Accenture Federal
    Services and Leidos will play the role of configuration specialist, while Cerner is the prime contractor.[30]
</p>
<p>
    On 29 August 2017, Apple Inc. announced a partnership with Accenture to create iOS business solutions.[31]
</p>
<p>
    In June 2018, Accenture generated controversy over the amount the firm has been charging to recruit 7,500 Customs 
    and Border Protection officers. Under the $297 million contract, Accenture had been charging the US Government 
    nearly $40,000 per hire, which is more than the annual salary of the average officer.[32] According to a report
    published by the DHS Office of Inspector General in December 2018, Accenture had been paid $13.6M through the 
    first ten months of the contract. They had hired two agents against a contract goal of 7,500 hires over 5 years. 
    The report was issued as a 'management alert', indicating an issue requiring immediate attention, stating that
    "Accenture has already taken longer to deploy and delivered less capability than promised".[33]
</p>
<p>
    In January 2019, CEO Pierre Nanterme stepped down from his position, citing health reasons. Twenty days after 
    stepping down, Nanterme died in France at the age of 59. Chief Financial Officer David Rowland was named as the
    interim CEO. [34]
</p>
<p>
    In February 2019, contractors from Accenture's Austin, Texas location who performed content moderation tasks for
    Facebook wrote an open letter to Facebook describing poor working conditions and a "Big Brother environment" that
    included restricted work breaks and strict non-disclosure agreements.[35][36][37] A counselor in the Austin office
    stated that the content moderators could develop posttraumatic stress disorder as a result of the work, which
    included evaluating videos and images containing graphic violence, hate speech, animal abuse, and child abuse.[36][38]
</p>
<p>
    In July 2019, Julie Sweet, previously CEO of Accenture North America, was named the new chief executive officer
    of the firm, effective September 2019. She will replace the interim CEO, David Rowland.[39]
</p>
<h2>Finances   [ <a href=''><small style="color:blue;">edit</small></a> ]</h2>
<hr />
<p>
    For the fiscal year 2018, Accenture reported earnings of US$4.060 billion, with an annual revenue of US$41.603
    billion, an increase of 13.2% over the previous fiscal cycle. Accenture's shares traded at over $159 per share,
    and its market capitalization was valued at over US$104.2 billion in October 2018.[40]
</p>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }

    table, td {
        text-align: right;
    }

    table, th {
        text-align: center;
    }

        table#myTable1 th {
            background-color: Gray;
        }
</style>
<table id="myTable1">
    <tr>
        <th>Year</th>
        <th>Revenue </br>in billion USD$</th>
        <th>Net income </br>in billion USD$</th>
        <th>Total Assets </br>in billion USD$</th>
        <th>Price per Share </br>in USD$</th>
        <th>Employees</th>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">2005</td>
        <td>17.098</td>
        <td>0.940</td>
        <td>8.957</td>
        <td>19.63</td>
        <td></td>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">2006</td>
        <td>18.228</td>
        <td>0.973</td>
        <td>9.497</td>
        <td>24.22</td>
        <td></td>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">2007</td>
        <td>21.453</td>
        <td>1.243</td>
        <td>10.747</td>
        <td>31.04</td>
        <td></td>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">2008</td>
        <td>25.314</td>
        <td>1.692</td>
        <td>12.399</td>
        <td>29.00</td>
        <td></td>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">2009</td>
        <td>23.171</td>
        <td>1.590</td>
        <td>12.256</td>
        <td>28.02</td>
        <td></td>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">2010</td>
        <td>23.094</td>
        <td>1.781</td>
        <td>12.835</td>
        <td>35.20</td>
        <td></td>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">2011</td>
        <td>27.353</td>
        <td>2.278</td>
        <td>15.732</td>
        <td>47.23</td>
        <td></td>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">2012</td>
        <td>29.778</td>
        <td>2.554</td>
        <td>16.665</td>
        <td>54.58</td>
        <td></td>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">2013</td>
        <td>30.394</td>
        <td>3.282</td>
        <td>16.867</td>
        <td>67.91</td>
        <td>275.000</td>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">2014</td>
        <td>31.875</td>
        <td>2.941</td>
        <td>17.930</td>
        <td>74.87</td>
        <td>305.000</td>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">2015</td>
        <td>32.914</td>
        <td>3.054</td>
        <td>18.203</td>
        <td>91.88</td>
        <td>358.000</td>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">20016</td>
        <td>34.798</td>
        <td>4.112</td>
        <td>20.609</td>
        <td>108.54</td>
        <td>384.000</td>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">2017</td>
        <td>36.765</td>
        <td>3.445</td>
        <td>22.690</td>
        <td>126.73</td>
        <td>425.000</td>
    </tr>
    <tr bgcolor="LightGray">
        <td bgcolor="Gray">2018</td>
        <td>41.603</td>
        <td>4.060</td>
        <td>24.449</td>
        <td>159.92</td>
        <td>459.000</td>
    </tr>
</table>
<h2>Services and operations   [ <a href=''><small style="color:blue;">edit</small></a> ]</h2>
<hr />

<div class="div1">
    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Spread_of_Accenture%27s_offices_around_the_world.svg/220px-Spread_of_Accenture%27s_offices_around_the_world.svg.png' alt="A worldmap showing the countries where Accenture has operations as of 2016" style="float:right;width:250px;height:130px;" />
</div>
<ul>
    <li>Accenture Strategy provides business strategy, technology strategy and operations strategy services.[41]</li>
    <li>Accenture Consulting provides technology, business and management consulting.[42]</li>
    <li>Accenture Digital provides digital marketing, analytics and mobility services.[43]</li>
    <li>Accenture Technology focuses on technology solutions, implementation, delivery, and research & development, including its Technology Labs for emerging technologies.[44]</li>
    <li>Accenture Operations focuses on an "as-a-service" model of service delivery. This includes business process outsourcing, IT services, cloud services, managed operations, security and infrastructure services.[45]</li>
</ul>
<h2>Marketing, branding and identity   [ <a href=''><small style="color:blue;">edit</small></a> ]</h2>
<div class="div1">
    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Accenture_office_building_in_Gachibowli_%28August_2019%29.jpg/220px-Accenture_office_building_in_Gachibowli_%28August_2019%29.jpg' alt="Accenture office in Gachibowli, Hyderabad" style="float:right;width:250px;height:130px;" />
</div>
<hr />
<p>
    In 2011, Accenture launched a new campaign of results-based ads featuring clients such as Marriott, Unilever and 
    the Royal Shakespeare Company alongside its slogan "High performance Delivered".[46] As of 2018, Interbrand ranked
    Accenture No. 34 on its list of best global brands.[47] The brand consultancy noted Accenture's focus on branding
    and marketing of its Accenture Strategy, Accenture Consulting, Accenture Digital, Accenture Technology and Accenture
    Operations divisions.[48]
</p>
<p>
    From at least 2005[49] until December 2009, Accenture used Tiger Woods as a celebrity spokesperson and advertised
    using the service mark "Go on, be a Tiger" and the ancillary statement "We know what it takes to be a Tiger" in 
    association with his image. On 13 December 2009 after details of Woods' extra-marital affairs were exposed, the 
    company terminated Woods' six-year sponsorship deal.[50]
</p>
<p>
    The company uses a standardised system of branding, with extensive use of the font Graphik.[51]
</p>
<p>
    From 1999, the firm's culture was parodied by the webcomic Bigtime Consulting, operated pseudonymously by its
    San Francisco-based employee James Sanchez.[52][53]
</p>
<p>
    Accenture has implemented policies to reduce gendered discrimination such as gender neutral bathrooms and gender
    neutral dress-codes. Denise Norris, a transgender activist and Accenture employee, said "In cultures that don’t 
    embrace gender diversity, Accenture’s workplace can become a haven, a safe space for our transgender employees."[54]
</p>
<h2>
    Awards   [ <a href=''><small style="color:blue;">edit</small></a> ]
</h2>
<hr />
<ul>
    <li>In 2016, Accenture was ranked No. 289 on the Forbes Global 2000 list.[55]</li>
    <li>In 2016, Accenture was ranked No. 312 on the Fortune Global 500 list.[56]</li>
    <li>In 2016, the firm was named 15th in the Top 50 Companies for Diversity by DiversityInc.[57]</li>
    <li>In 2017, Accenture was ranked No. 272 on the Forbes Global 2000 list.[58]</li>
    <li>In 2017, Accenture was ranked No. 305 on the Fortune Global 500 list.[59]</li>
    <li>In 2017, the firm was named 14th in the Top 50 Companies for Diversity by DiversityInc.[60]</li>
    <li>Accenture is one of 12 best management consulting firms of 2017 in America according to Forbes.[61]</li>
    <li>In 2018, Fortune magazine named it as the world's most admired Information Technology Services company.[62]</li>
    <li>In 2018, Accenture was ranked No. 316 on the Fortune Global 500 list.[63]</li>
    <li>In 2019, Ethisphere Institute recognized Accenture for the 12th time[64]</li>
    <li><em>Fortune</em> named Accenture one of the 100 Best Companies to Work For from 2009 to 2019[65]</li>
    <li><em>CR Magazine</em> named Accenture No. 23 in its top 100 Best Corporate Citizens list for 2019[66]</li>
    <li>In 2019, Accenture was ranked No. 248 on the Forbes Global 2000[67]</li>
    <li>In 2019, the firm was ranked No. 7 in the Top 50 Companies for Diversity by DiversityInc.[68]</li>
    <li>In 2019, Fortune magazine named it as the world's most admired Information Technology Services company.[69]</li>
</ul>
