@page
@model CoreWiki.Pages.ClaretSchoolBarcelonaModel
@{
    ViewData["Title"] = "ClaretSchoolBarcelona";
}

<h1>Claret School Barcelona</h1>
<a href='https://en.wikipedia.org/wiki/Claret_School_Barcelona'>Claret School Barcelona</a>
<hr />
<p>From Wikipedia, the free encyclopedia</p>
<img src='https://upload.wikimedia.org/wikipedia/commons/3/31/Escola-claret-bcn.JPG' alt="Claret School Barcelona" style="float:right;width:400px;height:300px;" />
<p>
    <strong>Claret School Barcelona</strong> is a Claretian school founded in 1871 in <a href='https://en.wikipedia.org/wiki/Barcelona'>Barcelona</a>, more precisely in <em>Camp d'en Grassot and Gràcia Nova</em> neighborhood.[1] It is ruled by the Claretian, an order founded in 1849 by
    <a href='https://en.wikipedia.org/wiki/Anthony_Mary_Claret'>Sant Antoni Maria Claret i Clarà</a> (1807-1870).[2]
</p>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<h2>History   [ <a href='https://en.wikipedia.org/w/index.php?title=Claret_School_Barcelona&action=edit&section=1'><small style="color:blue;">edit</small></a> ]</h2>
<hr />
<h3>Early History   [ <a href='https://en.wikipedia.org/w/index.php?title=Claret_School_Barcelona&action=edit&section=2'><small style="color:blue;">edit</small></a> ]</h3>
<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Esgl%C3%A9sia_Immaculat_Cor_de_Maria_%28claretians%29.JPG/190px-Esgl%C3%A9sia_Immaculat_Cor_de_Maria_%28claretians%29.JPG' alt="Immaculate Heart of Mary Church" style="float:right;">
<p>
    The Claretian community arrived in Barcelona in 1860 when they founded the "New Convent" in a modest building 
    surrounded by fields of cultivation on the suburbs of Gràcia.,[1] a village that was integrated into Barcelona 
    in 1897. In 1871 the educational activities began with the foundation of the first Claretian school in 
    Barcelona (then Gracia). At that time, there was only one school for boys in Barcelona, the Escolapis in Raval[1]
</p>
<p>
    This Claretian school, first called Heart of Mary School, was located in the corner of the now Naples and 
    Claret streets, and responded to the educational needs of the children from Gràcia 
    and <a href='https://en.wikipedia.org/wiki/Sant_Mart%C3%AD_de_Proven%C3%A7als'>Sant Martí de Provençals<a />. It 
    was the only building in the area and that is why it gave its name to the current street of Sant Antoni Maria 
    Claret in Barcelona. In 1904 the current church of the <a href='https://en.wikipedia.org/wiki/Immaculate_Heart_of_Mary'>Immaculate Heart of Mary<a /> was built, 
    which later became the central part of the building.[1] The school was burned and destroyed during the <a href='https://en.wikipedia.org/wiki/Tragic_Week_(Catalonia)'>Tragic Week<a /> of 1909
    and moved temporarily to <a href='https://en.wikipedia.org/wiki/Passeig_de_Sant_Joan,_Barcelona'>Passeig de Sant Joan<a /> number 82, until in 1912 returned to its original place, 
    at Sant Antòni Maria Claret 45-49 (before called Coello street, 255).[1]
</p>
<h3>Civil war and later   [ <a href='https://en.wikipedia.org/w/index.php?title=Claret_School_Barcelona&action=edit&section=3'><small style="color:blue;">edit</small></a> ]</h3>
<p>With the outbreak of the Spanish Civil War, in 1936 the church was burned down, and the school was looted, leaving it unusable. The church's façade still has bullet marks which, in order to preserve historical memory, have not been restored. The school opened again in 1940. In 1960 new floors and sports facilities were added, and in 1976 the Sports Centre Claret was inaugurated. In 1997 the old Claret-Naples streets building was demolished (built between 1909 and 1912, and by that time very damaged), and a new one [1] was built with new classrooms, parochial premises, the Sports Center Claret and the Claretian community.</p>
<h3>Today   [ <a href='https://en.wikipedia.org/w/index.php?title=Claret_School_Barcelona&action=edit&section=4'><small style="color:blue;">edit</small></a> ]</h3>
<p>From the beginning in 1871, the school had been run by Claretians. This changed in 2002: the headmaster was not a Claretian or a religious person anymore. The first lay headmaster was Xavier Melgarejo Draper, psychologist and pedagogue, who left the post in 2012. From that moment on, the headmaster has been Vicenç Barceló[3]</p>
<h2>Claretian schools around the world   [ <a href='https://en.wikipedia.org/w/index.php?title=Claret_School_Barcelona&action=edit&section=5'><small style="color:blue;">edit</small></a> ]</h2>
<hr />
<p>There are other Claretian schools in some cities in Catalonia, like in Valls and Sabadell, as well as in many other cities in Spain, such as Valencia, Madrid, Sevilla, Burgos, Gran Canaria, Gijón, Zamora...[4] There are other Claretian schools all over the world, also; for example in the Philippines, India, the Dominican Republic, Costa Rica, Argentina, Venezuela...</p>
<h2>References   [ <a href='https://en.wikipedia.org/w/index.php?title=Claret_School_Barcelona&action=edit&section=6'><small style="color:blue;">edit</small></a> ]</h2>
<hr />
<ol>
    <li>Manuel., Garcia Gargallo, (2006). L'Ensenyament de l'Església a la ciutat de Barcelona directori estadístic. Delgado, Buenaventura, 1935-2007,, Universitat de Barcelona. Departament d'Història Contemporània. Barcelona: Universitat de Barcelona. ISBN 8468983543. OCLC 803799001.</li>
    <li>Trilla, Lleonard Santacana i; Plensa, Josep M. Codina i (1987). "Cent anys de presència claretiana a Cervera". Miscel·lània cerverina (5): 227–260. ISSN 2385-426X.</li>
    <li>"Claret Barcelona". claretbarcelona.cat. Retrieved 2017-11-18.</li>
    <li>"Colegios claretianos | Colegio Claret Madrid". www.claretmadrid.es (in Spanish). Retrieved 2017-11-18.</li>
</ol>
<style>
    .div1 {
        background-color: lightgrey;
        width: 1300px;
        height: 50px;
        border: 1px solid black;
        padding: 10px;
    }
</style>
<div class="div1">
    <a href='https://en.wikipedia.org/wiki/Help:Category'>Categories:</a>  <a href='https://en.wikipedia.org/wiki/Category:Schools_in_Barcelona'>Schools in Barcelona</a> | <a href='https://en.wikipedia.org/wiki/Category:Claretians'>Claretians</a>
</div>