@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">IS7012 Assignment1</h1>
</div>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }

        table#myTable2 th {
            background-color: Gray;
        }
</style>
<table id='myTable2'>
    <tr>
        <th>No.</th>
        <th>Title of Page</th>
    </tr>
    <tbody>
        <tr>
            <td>1.</td>
            <td>ClaretSchoolBarcelona</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>OsmaniaUniversity</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Accenture</td>
        </tr>
    </tbody>
</table>
