@page
@model CoreWiki.Pages.OsmaniaUniversityModel
@{
    ViewData["Title"] = "OsmaniaUniversity";
}

<h1>Osmania University</h1>
<a href='https://en.wikipedia.org/wiki/Osmania_University'>Osmania University</a>
<hr />
<p>From Wikipedia, the free encyclopedia</p>
<style>
    .div1 {
        background-color: lightgrey;
        float: right;
        border: 1px solid black;
    }
</style>
<p><em>&nbsp&nbsp&nbsp&nbsp"Osmania" redirects here. For other uses, see Osmania (disambiguation).</em></p>
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/29/Osmania_University_Logo.png/220px-Osmania_University_Logo.png" alt='Osmania University' style="float:right;">
<p>
    <strong>Osmania University</strong> is a public state university located in University town, Hyderabad, India, 
    and founded in 1918 with the help of chief Architect of Mahbub Ali Khan - Nawab Sarwar Jung.[1] It was established
    by and named after the seventh and last Nizam of Hyderabad, Mir Osman Ali Khan. It is the third oldest university 
    in southern India, and the first to be established in the erstwhile princely State of Hyderabad.[2][3][4] It is the
    first Indian university to have Urdu as a medium of instruction.[1] In 2012, the university was placed sixth among 
    the Nation's Premier Universities in Humanities, Sciences and Commerce stream, which secured the University with
    Potential for Excellence status.[5]
</p>
<p>
    The Main Campus is ranked tenth among the State Universities, as published by India Today.[6] As of 2012, the
    university hosts 3,700 international students from more than 80 nations.[7] The O.U. is one of the largest university
    systems in the subcontinent with over 300,000 students on its campuses and affiliated colleges. The O. U. is 
    particularly known for its faculty of Engineering and Technology, Law, Arts, Biochemistry, Genetics and Biotechnology,
    Commerce and Management departments. The Osmania Medical College; one of the top Medical schools in the country, 
    was once a part of the O.U. System.[8] However, it is now under the supervision of Kaloji Narayana Rao University
    of Health Sciences.[9][10][11]
</p>
<h2>History   [ <a href=''><small style="color:blue;">edit</small></a> ]</h2>
<hr />

<figure style="float:right;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Hyderabad_City_IB1142.jpg/220px-Hyderabad_City_IB1142.jpg" style="width:230px;height:260px;">
    <figcaption>Students dressed in <em>sherwani</em> at the</br> University College of Arts, c. 1939-1945.</figcaption>
    </br>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8b/OsmaniaUniv_PostalStamp.jpg/220px-OsmaniaUniv_PostalStamp.jpg" style="width:230px;height:150px;">
    <figcaption>The university postage stamp</br> released by the government of India on</br> 15 March 1969</figcaption>
    </br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/OsmaniaUnivArtsCollege.JPG/220px-OsmaniaUnivArtsCollege.JPG" style="width:230px;height:150px;">
    <figcaption>The University College of Arts and</br> Social Sciences has an architectural</br> heritage structure similar to <a href=''>College of</br> Sultan Hassan in Cairo, Egypt.[13]<a></figcaption>
    </br>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/19/OsmaniaUniv_EnggCollege.jpg/220px-OsmaniaUniv_EnggCollege.jpg" style="width:230px;height:150px;">
    <figcaption>University College of Engineering,</br> Osmania University is one of the top 15</br> engineering schools in the</br> country[15][16]</figcaption>
    </br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/OsmaniaUniv_LawCollege.jpg/220px-OsmaniaUniv_LawCollege.jpg" style="width:230px;height:150px;">
    <figcaption>The College of Law is one of the</br> top 15 law schools in the country[19]</figcaption>
    </br>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b1/OsmaniaUniv_Library.jpg/220px-OsmaniaUniv_Library.jpg" style="width:230px;height:150px;">
    <figcaption>The University Library</figcaption>
</figure>

<p>
    The Osmania University was brought into existence in 1918 through a <span style="color:blue"><em>firman</em></span> of the
    Nizam of Hyderabad, Mir OsmanAli Khan. The need for a university in Hyderabad State was felt for a long time, and in 1917, Sir Akbar Hydari,
    in a memorandum to the Education Minister, emphasized the need to establish a university with Urdu as the medium
    of instruction "as it is the language of the widest currency in India". In 1934, the university was shifted to the
    present campus.
</p>

<p>
    After independence and the accession of Hyderabad State in 1948, the university fell under the purview of the 
    state government. English replaced Urdu as the medium of instruction.
</p>
<h2>Main campus   [ <a href=''><small style="color:blue;">edit</small></a> ]</h2>
<hr />

<p>
    The Main campus is a chief intellectual centre in Hyderabad, and its alumni and faculty members include many
    distinguished individuals, including former Prime Minister of India P. V. Narasimha Rao. Admission to Main campus
    departments of Genetics, Biochemistry, Chemistry, Engineering, Management, and Law is highly competitive.[12] 
    The state government has appointed Prof S.Ramachandram as vice chancellor of the University. The University is
    accredited by the NAAC with an 'A+' Grade and conferred with the status of 'University with Potential for 
    Excellence' by the UGC, New Delhi.[5]
</p>
<p>
    The University Colleges are located within the main campus of the university. There are eight such colleges: 
    the University College of Arts and Social Sciences, University College of Commerce & Business Management,
    University College of Technology, University College of Engineering, University College of Law, University College
    of Science, Institute of Advance Study in Education, and PG College of Physical Education. The university offers
    courses in Humanities, Arts, Sciences, Social Sciences, Law, Engineering, Medicine, Technology, Commerce and
    Business Management, Information Technology and Oriental Languages. In 2001, Osmania was awarded five-star 
    status by the National Accreditation and Assessment Council (NAAC) of the University Grants Commission, part 
    of the Government of India.[14]
</p>
<p>
    The university has a campus of nearly 1600 acres (6 km²) with 300,000 students (counting all the campuses, 
    constituent affiliated colleges and district centres) making it one of the largest higher education system in 
    India. Nearly 5000 faculty and staff are employed at Osmania.[17] It attracts students from across the nation 
    as well as from other countries.[18]
</p>
<h2>Admissions and Research   [ <a href=''><small style="color:blue;">edit</small></a> ]</h2>
<hr />
<p>
    Osmania is a non-profit university which is funded and managed by the government. Admissions into the Bachelor
    of Engineering, Masters and Doctoral programs in main campus is on a merit basis, evaluated by national entrance
    examinations (EAMCET, GATE, BCFSBTGMES-N&D, APLAWCET, O.U. PhD Entrance Exam etc.) for each of the courses offered.
    The research activities are funded by various autonomous agencies of the government of India.
</p>
<h2>Library   [ <a href=''><small style="color:blue;">edit</small></a> ]</h2>
<hr />
<p>
    The University Library is the main library of the university and it was founded in 1918 along with the university. 
    It has close to 500,000 books and more than 6000 manuscripts, which includes rare palm leave manuscripts. It also
    has various journals, government documents, etc. The main library coordinates a library system, which connects the 
    libraries in the entire campus and other constituent college libraries.[20]
</p>
<h2>Constituent colleges   [ <a href=''><small style="color:blue;">edit</small></a> ]</h2>
<hr />
<p>
    Osmania University is a confederation of university colleges, constituent colleges, and affiliated colleges.
    The constituent colleges of the university includes:[21]
</p>
<ul>
    <li>Nizam College</li>
    <li>Post Graduate College of Law, Basheerbhagh</li>
    <li>University College for Women, Koti</li>
    <li>University College of Science, Saifabad</li>
    <li>University Post Graduate College, Secunderabad</li>
</ul>
<h2>Other Autonomous Centers   [ <a href=''><small style="color:blue;">edit</small></a> ]</h2>
<hr />
<ul>
    <li><a href=''>Institution of Electronics and Telecommunication Engineers, Hyderabad</a></li>
    <li><a href=''>Indian Council of Social Science Research, Hyderabad</a></li>
    <li>Center For Plant Molecular Biology</li>
    <li>Center For Indian Ocean Studies</li>
    <li>Japal-Rangapur Observatory</li>
    <li>Research and Training Unit in Navigational Electronics</li>
    <li>Regional Center For Urban and Environmental Studies</li>
    <li><a href=''>National Institute of Nutrition</a></li>
    <li><a href=''>City College Hyderabad</a></li>
    <li><a href=''>Center For Stem Cell Science, Hyderabad</a></li>
    <li>Anwar Ul Uloom College, Hyderabad</li>
    <li>PGRR center for distance education</li>
</ul>
<h2>Affiliated colleges   [ <a href=''><small style="color:blue;">edit</small></a> ]</h2>
<hr />
<p>
    The affiliated colleges of the university are scattered in Telangana and offer various undergraduate and 
    post-graduate courses.[22] Notable affiliated colleges include:
</p>
<ul>
    <li><a href=''>Chaitanya Bharathi Institute of Technology</a></li>
    <li><a href=''>Deccan College of Engineering and Technology</a></li>
    <li><a href=''>Maturi Venkata Subba Rao Engineering College</a></li>
    <li><a href=''>Methodist College of Engineering and Technology</a></li>
    <li><a href=''>Stanley College of Engineering and Technology for Women</a></li>
</ul>
<h2>Departments   [ <a href=''><small style="color:blue;">edit</small></a> ]</h2>
<hr />
<p>
    <strong>College of Arts and Social Sciences</strong>
</p>
<ul>
    <li>Ancient history, culture & Archeology</li>
    <li>Arabic</li>
    <li>Communication & Journalism</li>
    <li>Economics</li>
    <li>English</li>
    <li>French</li>
    <li>German</li>
    <li>Hindi</li>
    <li>History</li>
</ul>
<p>
    <strong>College of Commerce and Business Management</strong>
</p>
<ul>
    <li>Commerce</li>
    <li>Business Management</li>
</ul>
<p>
    <strong>College of Engineering</strong>
</p>
<ul>
    <li>Biomedical Engineering</li>
    <li>Civil Engineering</li>
    <li>Computer Science and Engineering</li>
    <li>Electronics and Communication Engineering</li>
    <li>Electronics and Electrical Engineering</li>
    <li>Mechanical Engineering</li>
    <li>Automobile Engineering</li>
    <li>Production Engineering</li>
</ul>
<h2>Notable alumni and faculty   [ <a href=''><small style="color:blue;">edit</small></a> ]</h2>
<hr />
<p>
    <em>&nbsp&nbsp&nbsp&nbsp&nbspMain article: <a href=''>List of Osmania University people</a></em>
</p>
<p>
    Notable alumni of Osmania University include major politicians of India, including 9th Prime Minister of 
    India P. V. Narasimha Rao[12] and 16th and last Chief Minister of united Andhra Pradesh with Telangana Nallari 
    Kiran Kumar Reddy, current CEO Adobe systems Shantanu Narayen and senior advocate Subodh Markandeya. Other alumni
    includes former Indian Cricket team captain Mohammed Azharuddin, cricket commentator Harsha Bhogle, novelist
    Venkatesh Kulkarni, PDSU founder George Reddy, former Union Home Minister Shivraj Patil, former Governor of the
    Reserve Bank of India Yaga Venugopal Reddy, chemist Garikapati Narahari Sastry, Metallurgist and former Vice 
    Chancellor of Banaras Hindu University Patcha Ramachandra Rao and physicist Raziuddin Siddiqui. Rakesh Sharma, 
    cosmonaut and the first Indian to travel in space, was a graduate of Osmania.[23] Karan Bilimoria, founder of 
    Cobra Beer, Member of the House of Lords, and the seventh Chancellor of the University of Birmingham earned his 
    Bachelor of Commerce degree from Osmania in 1981.[24] Rafi Ahmed, a well-known virologist and immunologist
    graduated from Osmania University in 1968.
</p>
<p>
    Notable former faculty members of the university include Bhadriraju Krishnamurti, Dravidianist and linguist,
    and founder of linguistics department at the university, physicist Suri Bhagavantam, and eminent linguist Masud
    Husain Khan.
</p>

