@page
@model HealthDeptApp.Pages.EstablishmentProfileModel
@{
    ViewData["Title"] = "EstablishmentProfile";
}

<h1>EstablishmentProfile</h1>

<h2>@Model.Establishment.Name</h2>

<dd>
    <dl>Opened Date</dl>
    <dt>@Model.Establishment.OpenDate</dt>
</dd>

