@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Vacation Destinations Website</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2 align="center">Explore the World. Unleash the traveller inside you!</h2>

<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

<div class="row">
    <div class="column">
        <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYurfialCbgWCqQrGDpmOV-q4yHe8S0iuptBrbLWLuUZVvY5ql' style="width:100%;" />
        <figcaption><a href='https://www.google.com/url?sa=i&source=images&cd=&ved=0ahUKEwjIppTc3cbkAhXCrFkKHUdCAHcQMwinASggMCA&url=https%3A%2F%2Fwww.peacefrogband.com%2Fevents%2Flas-vegas-cannery-casino&psig=AOvVaw04zv8vhuyCQlAckbMcoAR6&ust=1568221298010688&ictx=3&uact=3'>Las Vegas Cannery Casino</a></figcaption>
    </div>
    <div class="column">
        <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVpnv3Ak4_BocbYDvvygdvshPg1xunBz7rnpAt-m4HH9J48-i8_A' style="width:100%;height:92%;" />
        <figcaption><a href='https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwii_PqW38bkAhXEq1kKHUiDDbIQMwh-KAcwBw&url=https%3A%2F%2Fwww.thecrazytourist.com%2Ftop-25-things-to-do-in-san-francisco%2F&psig=AOvVaw3B9lRQYaml_tOq4oI_xtYc&ust=1568221689618965&ictx=3&uact=3'>Best things to do in San francisco</a></figcaption>
    </div>
    <div class="column">
        <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu80XNIndNBdoUloaQHSIqHCb1zTC8SE2_y0AnlBa4EY0FaUg5OQ' style="width:100%;height:92%;" />
        <figcaption><a href='https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiZhMOt4sbkAhWQxVkKHcuFABcQMwiiASgbMBs&url=https%3A%2F%2Fluggagehero.com%2Fnewyork%2F&psig=AOvVaw0iWTngPn4A_MGelpoET2Ur&ust=1568222542297313&ictx=3&uact=3'>Best locations to see in New York</a></figcaption>
    </div>
</div>
<div class="row">
    <div class="column">
        <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcnYZS_4BGlWXa3mV4eppwInyKJQPbSJxk2y7Q_Gl8RabDXIQi' style="width:100%;height:92%;" />
        <figcaption><a href='https://www.google.com/url?sa=i&source=images&cd=&ved=0ahUKEwiSmNfP48bkAhXuxlkKHVkXBY8QMwiVASgWMBY&url=https%3A%2F%2Fwww.seaportboston.com%2F&psig=AOvVaw3iElq57HkmqPiNoufwKimo&ust=1568222882271852&ictx=3&uact=3'>Boston, MA Hotel - Seaport Hotel</a></figcaption>
    </div>
    <div class="column">
        <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTANPEt7ZL3-RSP0XcDwCZtuuwDQqaIo9nb1EntzPKL6NW-uej' style="width:100%;height:92%;" />
        <figcaption><a href='https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwinsraM5MbkAhVhuVkKHWbrALYQMwibASgWMBY&url=https%3A%2F%2Fwww.tripadvisor.com%2FTourism-g147293-Punta_Cana_La_Altagracia_Province_Dominican_Republic-Vacations.html&psig=AOvVaw3qjz-NhfjW2GCcRoAfvLa_&ust=1568223009670171&ictx=3&uact=3'>Best of Punta Cana, Dominican epublic</a></figcaption>
    </div>
    <div class="column">
        <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYKMbHtlewvt3y8SygqB2FYHt4aBpoQEIl-D0Q3ZeS-eBitVE' style="width:100%;" />
        <figcaption><a href='https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiX97_K5MbkAhWwwVkKHe2zDcoQMwiWASgWMBY&url=https%3A%2F%2Fwww.si.com%2Fswim-daily%2F2019%2F04%2F30%2Fsi-swimsuit-2019-destinations-nassau-bahamas&psig=AOvVaw2qYXlVf04uT6GcDSaelY2g&ust=1568223139950015&ictx=3&uact=3'>SI, Swimsuit Destinations</a></figcaption>
    </div>
</div>
</br>
<h3 align="center">Pack your bags. We’re going on vacation!</h3>
<p>We are dedicated to the business of selling travel and providing our clients value in travel for their own unique individual need.</p>
<img src='https://www.traveldestinationsinc.com/images/welcome_images/welcome.jpg' style="float:right;width:400px;height:180px;" />
<p>Together we have over 90 years' experience in the travel industry. Our Team of professionals specialties include:</p>
<ul>
    <li>Honeymoon/Destinations Wedding</li>
    <li>Family Vacations</li>
    <li>International Travel</li>
    <li>Group Travel</li>
</ul>